
.pulsing_16585815444510czNJj {
  animation-name: pulsing_16585815444510czNJj;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
@keyframes pulsing_16585815444510czNJj {
  0% {
    box-shadow: 0 0 0 0 #00dd00e1;
  }
  80% {
    box-shadow: 0 0 0 12px #00dd0000;
  }
}
a.button-16585815444510czNJj-element {
  padding: 22px 44px; border-color: #ff5535; border-width: 0px; 
      border-radius: 6px; 
      background: linear-gradient(to bottom, #ff6600 0%, #ff5535 100%); 
      box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5); 
      text-decoration: none!important;
  0019ce
  border-radius: 4px;
  border: none;
  color: hsl(0, 0%, 100%);
  padding: 16px 32px 16px 32px;
  font-weight: 600;
  display: block;
  
  text-align: center;
  margin: 4vh auto 2vh auto;
  font-size: 1.49vw;
  box-sizing: border-box;
  max-width: 100%;
}
@media (max-width: 1200px) {
  a.button-16585815444510czNJj-element {
    font-size: 1.69vw;
    margin: 2.64vh auto 1.5vh auto;
  }
}
@media (max-width: 640px) {
  a.button-16585815444510czNJj-element {
    font-size: 3.94vw;
    margin: 2vh auto 1vh auto;
  }
}

.pulsing_16585815444510czNJj {
                    animation-name: pulsing_16585815444510czNJj;
                    animation-duration: 1s;
                    animation-timing-function: ease-out;
                    animation-iteration-count: infinite;
                }
                @keyframes pulsing_16585815444510czNJj {
                    0% {
                        box-shadow: 0 0 0 0 #00dd00e1
                    }
                
                    80% {
                        box-shadow: 0 0 0 12px #00dd0000
                    }
                }
            
        a.button-16585815444510czNJj-e {
          background: linear-gradient(to bottom right, #0018ce, #ff5633);
          border-radius: 4px;
          border: none;
          color: #ffffff;
          padding: 16px 32px 16px 32px;
          font-weight: 600;
          display: block;
          width: fit-content;
          text-align: center;
          margin: 4vh auto 2vh auto;
          font-size: 1.49vw;
          box-sizing: border-box;
          max-width: 100%;
        }
        @media (max-width: 1200px) {
          a.button-16585815444510czNJj-e {
            font-size: 1.69vw;
            margin: 2.64vh auto 1.5vh auto
          }
        }
        @media (max-width: 640px) {
          a.button-16585815444510czNJj-e {
            font-size: 3.94vw;
            margin: 2vh auto 1vh auto
          }
        }